<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Note Taker</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to <span class="product-name">Smart Note Taker</span></h1>
        <p>Your AI-powered assistant for live transcription and note-taking.</p>
        <div class="buttons">
            <button class="btn" onclick="getStarted()">🚀 Get Started</button>
            <button class="btn" onclick="setup()">⚙️ Setup</button>
        </div>
    </div>
    <footer>
        <p>© 2024 Hussnain Imtiaz. All rights reserved. 📚</p>
    </footer>
    <script src="../static/js/main.js"></script>
</body>
</html>

